.header__container{
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 15vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    background-color: var(--primary-color);
}
.header__container img{
    max-height: 100%;
}

.header__socialContainer{
    display: flex;
    gap: 1rem;
}