/* Wrapper.module.css */
.wrapper__container {
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Hide overflow to prevent double scroll bars */
  height: 100vh;
  max-height: 100vh;
}

.main__container {
  display: flex;
  flex: 1;
  overflow: hidden; /* Hide overflow to prevent double scroll bars */
}



.content {
  
  flex: 1;
  overflow: hidden;
  overflow-y: scroll; 
  scrollbar-width: none;
  -ms-overflow-style: none;

}
/* .content::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
} */